.charts{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.chart_box{
    height: 100%;
    width: 40%;
}

 #pie_chart{
    box-sizing: border-box;
    display: block;
    height: 300px;
    width: 300px;
 }

#pie_id{
    height: 400px;
    width: 600px;
}  